html, body {
    margin: 0;
    background-color: #fff;
}


a {
    text-decoration: none;
}


nav {
	width: 100%;
	text-align: center;
    padding-top: 45px;
	padding-bottom: 20px;
}


.left {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #28aadc;
}
.right {
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
}


.nameTitle {
	padding-top: 20px;
	font-family: 'Bitter', serif;
	font-size: 27px;
	color: #fff;
	text-shadow: 0.1em 0.1em #166888;
	white-space: nowrap;
    display:table;
    margin:0 auto;
}
.profileImg {    
    display:block;
    margin:auto;
    padding-top: 35px;
}


.linkResponsive {
    font-family: 'Muli', sans-serif;
	font-size: 17px;
	color: #166888;
	display: block;
	line-height: 38px;
	transition: 0.2s;
}
.linkResponsive:hover {
	color: #fff;
}
.WhiteCausePage {
	color: #fff;
}


.subMenu {
    position: relative;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid #d9d9d9;	
	font-size: 13px;	
	font-family: 'Muli', sans-serif;				
	margin-top: 25px;
	padding-bottom: 25px;			
}
.subMenuItem {
	padding-left: 25px;
	padding-right: 25px;			
	color: #909090;
	transition: 0.2s;
	white-space: nowrap;
}
.subMenuItem:hover {
	color: black;
}
.blackCausePage {
	color: black;
}
.subMenuPijlOnly {
    border-bottom: 2px solid #d9d9d9;	
    width: 100%;
}
.subMenuPijlOnlyImg {
    margin-top: 25px;
	margin-bottom: 21px;
    height: 19px;
}
.subMenuPijlInMenuImg {
    position: absolute;
    height: 19px;
    left: 0;
}


.inhoud {
	margin: 0 auto;
	width: 95%;
}
.inhoudTitle {
	font-family: 'Muli', sans-serif;	
	font-size: 27px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
}
.inhoudText {
	font-family: 'Muli', sans-serif;	
	font-size: 15px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.inhoudTextMarginAfter {
    margin-bottom: 1em;
}
.inhoudLink {
    font-family: 'Muli', sans-serif;	
	font-size: 15px;
    text-decoration: underline;
    transition: 0.2s;
    color: #000;
}
.inhoudLink:hover {
    color: #28aadc;
}



.halveBreedteMobielVolledig {
    width: 50%;
}


.korteUitlegStagedagen {
  background: -webkit-linear-gradient(black, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.githubIcon {
    margin-top: 55px;
    fill: #166888;
    transition: 0.2s;
     -webkit-transition-property: fill;
}
.githubIcon:hover {
    fill: #115570;
}


.homeVideo {
    display: flex;      
    justify-content: center;
}
.homeCenteredContent {
    align-self: center;
    text-align: center;
}
.homeTitle {
    font-family: 'Bitter', serif;
    color: #fff;
    font-size: 75px;
    line-height: 50px;
}
.homeSubTitle {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    font-size: 55px;
}
.homeMeer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0.1em solid #166888;
    color: #166888;
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
    transition: 0.2s;
}
.homeMeer:hover {
    border-color: #115570;
    color: #115570;
}


.homeMarginBigger {
    height: 100vh;
}
.homeIconImg {
    height: 200px;   
}


.takenBlok {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 2px 2px 7px #c4c4c4;
}
.takenInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    text-align: center;
    height: 56px;
}
.takenInfoTitle {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #166888;
    font-size: 20px;
}
.takenInfoText {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    color: black;
}
.takenInfo2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #166888;
    text-align: center;
    height: 56px;
}
.takenInfoTitle2 {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}
.takenInfoText2 {
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    color: #fff;
}
.takenImage {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.takenBlok:hover .takenImage {
    opacity: 0.9;
}
.takenRij {
    margin: 0 auto;
    max-width: 100em;
}
.takenRijEerste {
    margin-top: 40px;
}
.takenBlokW3 {
    margin-bottom: 40px;
}


.itAutobiographyImg {
    height: 300px;
    margin-left: 40px;
}


.iframeLoaderParent {
    width: 608px;
    background:url(../img/iframeloader.gif) center center no-repeat;
}


.linkDotted {
    border-bottom: 1px dotted #000;
    color: #000;
    text-decoration: none;
}
.linkDotted:hover {
    color: #28aadc;
    border-bottom: 1px dotted #28aadc;
}


.circlechart {
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}
.circlechartBlue {
    color: #5c93c8;
}
.circlechartRed {
    color: #ff4f4f;
}
.circlechartGreen {
    color: #82ce5c;
}
.circlechartWrapper {
    width: 60%;
    max-width: 80em;
}
.circlechartSubBlok {
    text-align: center;
    width: 100px;
}
.circlechartTitleCode {
    background-color: #2b2b2b;
    border: 2px solid #2b2b2b;
    border-radius: 3px;
    font-family: consolas;
    color: #fff;
    padding: 2px 5px 2px 5px;
}
.itProfileSubtitle {
	font-family: 'Bitter', serif;
    color: #28AADC;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding-bottom: 0.8em;
    
}





@media screen and (max-width: 900px) {
    .left {
    	width: 100%;
    	height: initial;
    	position: relative;
    	display: block;
    }
    .right {
	    width: 100%;
	    height: auto;
	    position: absolute;
	}
	.linkResponsive {
		display: inline;
		padding-left: 4px;
		padding-right: 4px;
        line-height: initial;
        font-size: 14px;        
	}
    .profileImg {    
        padding-top: 20px;
        height: 110px;
    }
	.nameTitle {
		padding-top: 5px;
        font-size: 21px;
	}
	nav {
        padding-top: 15px;
        padding-bottom: 18px;
	}
    .halveBreedteMobielVolledig {
        width: 100%;
    }
    .githubIcon {
        transition: 0s;
        visibility: hidden;
        margin-top: 0px;
        position: absolute;
        left: -999999px;
    }
    .homeVideo {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }
    .subMenuItem {
        padding-left: 15px;
        padding-right: 15px;
    }
    .circlechartWrapper {
        width: 100%;
    }
    
}

@media screen and (max-width: 1000px) {
    .itAutobiographyImg {
        margin-left: 0px;
        height: 200px;
        display:block;
        margin:auto;

    }
    
}