html, body {
    margin: 0;
    background-color: #fff;
}


a {
	text-decoration: none;
}


nav {
	width: 100%;
	text-align: center;
    padding-top: 45px;
	padding-bottom: 20px;
}


.left {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #28aadc;
}
.right {
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
}


.nameTitle {
	padding-top: 20px;
	font-family: 'Bitter', serif;
	font-size: 27px;
	color: #fff;
	text-shadow: 0.1em 0.1em #166888;
	white-space: nowrap;
    display:table;
    margin:0 auto;
}
.profileImg {    
    display:block;
    margin:auto;
    padding-top: 35px;
}


.linkResponsive {
    font-family: 'Muli', sans-serif;
	font-size: 17px;
	color: #166888;
	display: block;
	line-height: 38px;
	transition: 0.2s;
}
.linkResponsive:hover {
	color: #fff;
}
.WhiteCausePage {
	color: #fff;
}


.subMenu {
	width: 95%;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid #d9d9d9;	
	font-size: 13px;	
	font-family: 'Muli', sans-serif;				
	margin-top: 25px;
	padding-bottom: 25px;			
}
.subMenuItem {
	padding-left: 25px;
	padding-right: 25px;			
	color: #909090;
	transition: 0.2s;
	white-space: nowrap;
}
.subMenuItem:hover {
	color: black;
}
.blackCausePage {
	color: black;
}


.inhoud {
	margin: 0 auto;
	width: 95%;
}
.inhoudTitle {
	font-family: 'Muli', sans-serif;	
	font-size: 27px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding-bottom: 1em;
    padding-top: 1em;
}
.inhoudText {
	font-family: 'Muli', sans-serif;	
	font-size: 15px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.inhoudLink {
    font-family: 'Muli', sans-serif;	
	font-size: 15px;
    text-decoration: underline;
    transition: 0.2s;
}
.inhoudLink:hover {
    color: #28aadc;
}


.korteUitlegStagedagenHalf {
    width: 50%;
}
.korteUitlegStagedagen {
background: -webkit-linear-gradient(black, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.githubIcon {
    margin-top: 55px;
    fill: #166888;
    transition: 0.2s;
     -webkit-transition-property: fill;
}
.githubIcon:hover {
    fill: #115570;
}



.homeVideo {
    display: flex;      
    justify-content: center;
}
.homeCenteredContent {
    align-self: center;
    text-align: center;
}
.homeTitle {
    font-family: 'Bitter', serif;
    color: #fff;
    font-size: 75px;
    line-height: 50px;
}
.homeSubTitle {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    font-size: 60px;
}
.homeMeer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0.1em solid #166888;
    color: #166888;
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
    transition: 0.2s;
}
.homeMeer:hover {
    border-color: #115570;
    color: #115570;
}


@media screen and (max-width: 900px) {
    .left {
    	width: 100%;
    	height: initial;
    	position: relative;
    	display: block;
    }
    .right {
	    width: 100%;
	    height: auto;
	    position: absolute;
	}
	.linkResponsive {
		display: inline;
		padding-left: 4px;
		padding-right: 4px;
        line-height: initial;
        font-size: 14px;        
	}
    .profileImg {    
        padding-top: 20px;
        height: 110px;
    }
	.nameTitle {
		padding-top: 5px;
        font-size: 21px;
	}
	nav {
        padding-top: 15px;
        padding-bottom: 18px;
	}
    .korteUitlegStagedagenHalf {
        width: 100%;
    }
    .githubIcon {
        transition: 0s;
        visibility: hidden;
        margin-top: 0px;
        position: absolute;
        left: -999999px;
    }
    .homeVideo {
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }
    
}