html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
    background-color: #fff;
}
a {
	text-decoration: none;
}
nav {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Muli', sans-serif;
	font-size: 17px;
}
.left {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #28aadc;
}
.right {
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
}


.nameTitle {
	padding-top: 20px;
	font-family: 'Bitter', serif;
	font-size: 27px;
	color: white;
	text-shadow: 0.1em 0.1em #166888;
	white-space: nowrap;
}
.profileImg {
	margin-top: 25px;
}



.linkResponsive {
	color: #166888;
	display: block;
	line-height: 40px;
	transition: 0.2s;
}
.linkResponsive:hover {
	color: white;
}
.WhiteCausePage {
	color: white;
}


.subMenu {
	width: 95%;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid #d9d9d9;	
	font-size: 13px;	
	font-family: 'Muli', sans-serif;				
	margin-top: 25px;
	padding-bottom: 25px;			
}
.subMenuItem {
	padding-left: 25px;
	padding-right: 25px;			
	color: #909090;
	transition: 0.2s;
	white-space: nowrap;
}
.subMenuItem:hover {
	color: black;
}
.blackCausePage {
	color: black;
}


.inhoud {
	margin: 0 auto;
	width: 95%;
}
.inhoudTitle {
	font-family: 'Muli', sans-serif;	
	font-size: 27px;
}
.inhoudText {
	font-family: 'Muli', sans-serif;	
	font-size: 15px;
}
.inhoudLink {
    font-family: 'Muli', sans-serif;	
	font-size: 15px;
    text-decoration: underline;
    transition: 0.2s;
}
.inhoudLink:hover {
    color: #28aadc;
}


.korteUitlegStagedagenHalf {
    width: 50%;
}
.korteUitlegStagedagen {
background: -webkit-linear-gradient(black, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 900px) {
    .left {
    	width: 100%;
    	height: initial;
    	position: relative;
    	display: block;
    }
    .right {
	    width: 100%;
	    height: auto;
	    position: absolute;
	}
	.linkResponsive {
		display: inline;
		padding-left: 10px;
		padding-right: 10px;
	}
	.nameTitle {
		padding-top: 15px;
	}
	nav {
		padding-top: 20px;

	}
    .korteUitlegStagedagenHalf {
        width: 100%;
    }
}